<!DOCTYPE html>
<html>
<head>
    <title>Mario's Cucina</title>
    <link rel='stylesheet' href='/css/style.css'>
</head>
<body>
<!-- begin inner template-->

<nav  >
    <ul >
        <li >
            <a href="/"> Homepage</a>
        </li>
        <li >
            <a href="/restaurant">Restaurant</a>
        </li>
        <li >
            <a href="/stock"> Stock</a>
        </li>
        <li >
            <a href="/menu"> Menu</a>
        </li>
    </ul>

</nav>
<div class="container">
    #parse( $template )
</div>
<!-- end inner template-->
</body>
</html>