<h1>The team</h1>
<ul>
    <li> Mario - the manager</li>
    <li> luigi - the the cook</li>
    <li> Peaches - the head Waitress</li>
    <li> Yoshi - the kitchen Porter</li>
    <li> Bowser - Debt collector and supplier PR</li>
    <li> Toad - Still not sure what he is good for...</li>


</ul>